body {
	margin: 0px;
	padding: 0px;
}

div.pure-menu.pure-menu-open.menu-custom {
	display: inline-block;
	width: auto;
	margin: auto;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	background-color: rgba(0,0,0,0);
}

.pure-menu a, .pure-menu .pure-menu-can-have-children > li:after, .pure-menu .pure-menu-heading {
	color: #eee;	
}

.pure-menu li a:hover, .pure-menu li a:focus {
	color: #bbb;
	background: inherit;
}

.menu-container {
	position: absolute;
	width: 100%;
	top: 0px;
	z-index: 10;
	background-color: rgba(51, 51, 51, 0.25);
}

.inner {
	display: table-cell;
	vertical-align: middle;
}

.page-block {
	display: table;
	height: 100vh;
	width: 100%;
	text-align: center;
}

.content-center {
	text-align: center;
}

#slogan {
	position: relative;
	background-image: url('../img/rocket.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80% 0%;
}

#slogan h1 {
	margin: 0px;
	color: white;
	font-weight: 400;
}

#slogan-arrow-bottom {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	font-size: 2em;
	color: white;
	background-color: rgba(51, 51, 51, 0.25);
}

#services {
	background-color: #403739;
	color: #ddd;
}

#services h1, #services h2 {
	color: #ead7b8;
}

#services h2 {
	text-align: left;
	font-weight: 500;
	border-bottom: 1px solid #ead7b8;
	margin: 1rem;
	padding-bottom: 0.5em;
}

#services div div div:first-child * {
	margin-left: 2rem;
}

#services div div div:last-child * {
	margin-right: 2rem;
}

#services p {
	margin: 0rem 1rem;
	text-align: left;
}

@media screen and (max-height:28em)
{
	#services {
		height: auto;
	}
	#services div div div:first-child * {
		margin-left: 1rem;
	}
	#services div div div:last-child * {
		margin-right: 1rem;
	}

	div.pure-menu.pure-menu-open.menu-custom > ul {
		display: none;
	}
}

@media screen and (max-width:48em)
{
	#services {
		height: auto;
		padding: 1rem 0rem;
	}
	#services div div div:first-child * {
		margin-left: 1rem;
	}
	#services div div div:last-child * {
		margin-right: 1rem;
	}

	div.pure-menu.pure-menu-open.menu-custom > ul {
		display: none;
	}
}
